# Auto detect text files and perform LF normalization
* text=auto

# Exclude documentation infrastructure from GitHub language stats
package-lock.json linguist-generated
guide/** linguist-documentation
.github/** linguist-generated
